<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13313046913-oj8t7ds56jko7foh1to0hk3lbdl179o9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13313046913-oj8t7ds56jko7foh1to0hk3lbdl179o9</string>
	<key>API_KEY</key>
	<string>AIzaSyCCD9Qs-7PCNxe_a5cQiJJ-B6-2FtOpVZE</string>
	<key>GCM_SENDER_ID</key>
	<string>13313046913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testfierbase</string>
	<key>PROJECT_ID</key>
	<string>testfirebase-49eff</string>
	<key>STORAGE_BUCKET</key>
	<string>testfirebase-49eff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13313046913:ios:f1ef64ca89c30c9048d080</string>
</dict>
</plist>